.App {
  text-align: center;
}

.body {
  max-width: 1200px;
  margin: 0 auto;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.rec-pagination {
  margin-top: -25px !important;
}

.rec-pagination button {
  background-color: rgba(186, 186, 186, 0.8);
  box-shadow: none;
}